*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
  background: #000;
  zoom: 0.85;
}

main {
  background: url(./img/iphone.webp) no-repeat;
  background-size: contain;
  width: 320px;
  height: 640px;
  display: flex;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

section {
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 32px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 16px 6px;
  margin: 22px;
}

header {
  display: flex;
  justify-content: center;

  & img {
    width: 24px;
    height: 24px;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
}
footer > button {
  background: url(./img/tinder-icons.webp) no-repeat;
  background-position: 0px 0px;
  background-size: 170px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: scale 0.3s ease;
}
footer > button.is-big {
  background-size: 240px;
  width: 48px;
  height: 48px;
}

footer > button.is-refresh {
  background-position: -135px;
}

footer > button.is-remove {
  background-position: -140px;
}

footer > button.is-star {
  background-position: -70px;
}

footer > button.is-fav {
  background-position: -45px;
}

footer > button:hover {
  scale: 1.5;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.cards > article {
  border-radius: 8px;
  overflow: hidden;
  cursor: grab;
  box-shadow: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cards > article .go-left,
.cards > article .go-right {
  transition: transform 0.3s ease, rotate 0.3s ease;
}

.cards > article .go-left {
  transform: translateX(-100%) rotate(-20deg);
}

.cards > article .go-left {
  transform: translateX(100%) rotate(20deg);
}

.cards > article .reset {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.cards > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards > article > h2 {
  color: white;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 16px;
  z-index: 3;
  background: linear-gradient(to top, #00000088 20%, transparent 40%);
}

.cards > article > h2 > span {
  margin-left: 8px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
}
